version: '3.8'

services:
  db:
    image: postgres:16
    container_name: portal_db
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin123.
      - POSTGRES_DB=portalvj_db
    command: 
      - "postgres"
      - "-c"
      - "client_encoding=UTF8"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./DB/sql/01_schema.sql:/docker-entrypoint-initdb.d/01_schema.sql
      - ./DB/sql/02_updates.sql:/docker-entrypoint-initdb.d/02_updates.sql
      - ./DB/sql/03_data.sql:/docker-entrypoint-initdb.d/03_data.sql
    healthcheck:  
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  backend:
    container_name: portal_backend
    build: ./backend 
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy  
    environment: 
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: admin123.
      DB_NAME: portalvj_db
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge